<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .right {
      width: 100px;
      float: right;
      border: 1px solid red;
      min-height: 500px;
    }

    .left {
      margin-right: 100px;
      border: 1px solid blue;
      min-height: 500px;
    }
  </style>
</head>
<body>


<body>
<div>
  右边div定宽+右浮动，左边margin-right等于右边div宽度
  <div class='right'></div>
  <div class='left'></div>
  （顺序不能换）
</div>
</body>
</body>
</html>
