<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      display: flex
    }

    .left {
      flex: 1;
      width: 100px;
      border: 1px solid red;
      min-height: 500px;
    }

    .right {
      flex: 0 0 100px;
      border: 1px solid blue;
      min-height: 500px;
    }
  </style>
</head>
<body>


<body>
<div>
  <div class="left"></div>
  <div class="right">1233333</div>
  （顺序不要换）
</div>
</body>
</body>
</html>
