<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>负margin负位移技术应用</title>
    <style>
        .demoSpecItem{width:212px; min-height:178px; _height:178px;}
        .demoSpecItem .demoItemPic{display:block; text-align:center;}
        .demoSpecItem .demoItemPic img{padding:5px; border:1px solid #ccc;}
        .demoSpecItem .demoIcon{display:block; margin:-185px 0 0 150px;}
    </style>
</head>
<body>
<div class="demoSpecItem">
    <a href="javascript:void(0)" class="demoItemPic">
        <img width="200" height="166" src="toygersKittens.jpg" alt="toygers kittens" />
    </a>
    <span class="demoIcon"><img width="54" height="54" src="buyInSoon.png" alt="icon" /></span>
</div>
</body>
</html>