<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .left {
      float: left;
      width: 33.3%;
      box-sizing: border-box;
      border: 1px solid blue;
      min-height: 500px;
    }

    .middle {
      float: left;
      width: 33.3%;
      box-sizing: border-box;
      border: 1px solid blue;
      min-height: 500px;
    }

    .right {
      float: left;
      width: 33.3%;
      box-sizing: border-box;
      border: 1px solid red;
      min-height: 500px;
    }
  </style>
</head>
<body>
<div>
  <div class='left'>
  </div>
  <div class='middle'>
  </div>
  <div class='right'>
  </div>
</div>
</body>
</html>
