<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bfc (block formatting context) 布局</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .bro1 {
            width: 300px;
            height: 200px;
            background: #ddd;
            margin-bottom: 30px;
        }

        .bro2 {
            width: 200px;
            height: 100px;
            background: pink;
            margin-top: 20px;
        }
    </style>
</head>

<body>

<div class='bro1'></div>
<div class='bro2'> </div>
<a href="http://www.jianshu.com/p/a7ead28910f4">细节请看</a>

</body>

</html>