<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>overflow知多少</title>
    <style>

    </style>
</head>
<body>
    <pre>
        .body{overflow:hidden; _overflow:visible; _zoom:1;}
        .main{overflow:hidden; _overflow:visible; _zoom:1;}
    </pre>
    <div>
        短短三个属性竟然包含了浮动、浮动清除、Haslayout、IE6兼容性、最小高度不同浏览器下实现、浏览器Hack、overflow的各种用途等等一系列的问题及知识点
    </div>
</body>
</html>
