<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    html, body {
      margin: 0;
      height: 100%;
    }
    header,
    footer {
      height: 5%;
      background: gray;
    }
    .left, .right {
      width: 150px;
      height: 100%;
      background: green;
    }
    .wrapper {
      height: 90%;
      width: 100%;
      overflow: hidden;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .main {
      height: 100%;
      background: blue;
      margin: 0 160px;
    }
  </style>
</head>

<body>
<header>header</header>
<section class="wrapper">
  <aside class="left">left</aside>
  <aside class="right">right</aside>
  <section class="main">main</section>
</section>
<footer>footer</footer>
</body>

</html>
